POSTGRES_USER=finances
POSTGRES_PASSWORD=change_me
POSTGRES_DB=finances

DATABASE_URL=postgresql://finances:change_me@postgres:5432/finances?schema=public

JWT_SECRET=change_me

GEMINI_API_KEY=change_me

NEXT_PUBLIC_API_URL=http://localhost:3002